<div id="one"><%= Presto.render_component(SingleCounter) %></div>
<div id="two"><%= Presto.render_component(SingleCounter) %></div>
<div id="three"><%= Presto.render_component(SingleCounter) %></div>
