<div id="one"><%= Presto.render(Presto.component(PrestoDemoWeb.Components.SingleCounter)) %></div>
<div id="two"><%= Presto.render(Presto.component(PrestoDemoWeb.Components.SingleCounter)) %></div>
<div id="three"><%= Presto.render(Presto.component(PrestoDemoWeb.Components.SingleCounter)) %></div>
