<%= Presto.render(Presto.component(PrestoDemoWeb.Components.SingleCounter)) %>
<%= Presto.render(Presto.component(PrestoDemoWeb.Components.SingleCounter)) %>
<%= Presto.render(Presto.component(PrestoDemoWeb.Components.SingleCounter)) %>
